@font-face {
    font-family: "Source Han Sans SC";
    src: url("SourceHanSansSC-Subset.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Han Sans SC";
    src: url("SourceHanSansSC-Subset.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
